<header class="head">
    Template Driven form
</header>
<div class="row">
    <div class="col-md-10 col-sm-8 col-xs-6 col-md-offset-1 col-md-offset-2">
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control"
                id="email" name="email" email
                ngModel #email="ngModel" required>
                @if(email.touched && !email.valid){
                    <span> Please enter correct email</span>
                }
                
                <!-- <button class="btn btn-default"   type="button">Suggest a Username</button> -->
            </div>
            <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" class="form-control"
            id="password" ngModel name="password" required minlength="6" #password="ngModel">
            @if(password.touched && !password.valid){
                <span> Please valid password</span>
            }
        
            
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender" class="form-control" ngModel [(ngModel)]="defaultGender" #gender="ngModel" required>
                <option value="" disabled>Select gender</option>
                <option value="male" selected>Male</option>
            <option value="female">Female</option>
            </select>
            @if(gender.touched && !gender.valid){
                <span> Please select a gender</span>
            }
            
        </div>
        <div class="radio-box">
        <label for="ageGroup">Select your age group</label>
        <div class="form-group">
            @for(age of ageGroup;track age){
                <div class="radio" >
                    <label >
                        <input type="radio" ngModel 
                        required
                        name="age"
                        [value]="age"
                        [(ngModel)]="defaultAgeGroup">
                        {{age}}
                    </label>
                </div>
            }
           
        </div>
    </div>
        <div class="button-container">
            <button class="btn btn-primary" [disabled]="!f.form.valid">Submit</button>
        </div>
        </form>

    </div>
</div>