<header class="head">
    Template Driven form
</header>
<div class="row">
    <div class="col-md-10 col-sm-8 col-xs-6 col-md-offset-1 col-md-offset-2">
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control"
                id="username" name="username"
                ngModel required>
                <!-- <button class="btn btn-default"   type="button">Suggest a Username</button> -->
            </div>
            <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control"
            id="password" ngModel name="Password" required minlength="6">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender" class="form-control" ngModel [(ngModel)]="defaultGender" required>
                <option value="" disabled>Select gender</option>
                <option value="male" selected>Male</option>
            <option value="female">Female</option>
            </select>
            
        </div>
        <div class="button-container">
            <button class="btn btn-primary">Submit</button>
        </div>
        </form>

    </div>
</div>